<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <a href="http://localhost:8000/"><h1 class='site-title'>Facespace</h1></a>

  <% if (currentUser.name) {%>
    <h4 class='user-signin'>Howdy <%= currentUser.name %></h4>
    <%} else {%>
      <a href="./signin"><h4 class='user-signin'>Sign In</h4></a>
      <% } %>

  </header>