.homepage {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 var(--page-horizontal-padding);
}
.homepage__all {
  display: flex;
  flex-wrap: wrap;
}
.homepage__all--user {
  margin: 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.homepage__all--user img {
  width: 120px;
}

.homepage__all--user:hover > p {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  position: absolute;
  bottom: 7px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  display: block;
}

.homepage__all--user p {
  display: none;
}

.friendStar {
  position: absolute;
  bottom: 10px;
  right: 0px;
  max-width: 25px;
  height: auto;
}

.friend-ribbon {
  position: absolute;

  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  right: -25px;
  top: 7px;
  color: white;
  background: var(--primary-color);
  transform: rotate(-320deg);
}
